venv/
__pycache__
.vscode/

# docs
golem_app/man/*


output.txt
output.csv
.Rproj.user

rsconnect

Notas-PAU-CV.Rproj
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto

*.tar.gz
.posit

quarto/*.pdf
quarto/*.html
quarto/*.tex
quarto/*.log
quarto/*.toc
quarto/*.aux
quarto/*/

golem_app/inst/app/data