.mean-year-input
  .shiny-options-group
    display: flex
    flex-wrap: wrap
    gap: 5rem
    justify-content: space-evenly
    width: 100%

    .radio-inline
      display: flex
      flex-direction: row
      align-items: center
      gap: 0.75rem
      min-width: 0

      span
        display: flex
        flex: 1
        align-items: center
        min-width: 0

        .shiny-input-container
          display: flex
          flex: 1
          gap: 0.75rem
          align-items: center
          min-width: 0
          flex-wrap: wrap
          margin: 0

          div
            flex: 1
            min-width: 5em

        label
          margin: 0
